// Theme's Styles
@import("/Users/huoxd/Desktop/FUCK/VUEPRESS/vuepress_init/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("/Users/huoxd/Desktop/FUCK/VUEPRESS/vuepress_init/docs/.vuepress/styles/index.styl")